* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat";
  background-color: #e1f5f5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10%;
  background-color: #fff;
  margin-bottom: 20px;
}

header li,
header a,
header button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #465254;
  text-decoration: none;
}

header .search {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

header .logo {
  cursor: pointer;
  margin-right: auto;
  width: 91px;
  height: 26px;
  margin-left: 40px;
}

header .nav_links {
  list-style: none;
}

header .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

header .nav_links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .nav_links li a:hover {
  font-weight: 700;
}

header .profile {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #E7E6E6;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .profile:hover {
  background-color: #2E5D62;
  color: white;
}

header button:hover {
  background-color: #E7E6E6;
  color: #465254;
}

header .cart {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #2E5D62;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-product {
  width: 60%;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
}

.add-product h1 {
  margin-bottom: 20px;
}

.add-product .input-detail {
  width: 30%;
  height: 40px;
  padding-left: 10px;
  border-radius: 16px;
  border: 1px solid;
}

.add-product .product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12em;
  margin-right: 20px;
  margin-bottom: 30px;
}

.add-product .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12.5em;
  margin-right: 20px;
  margin-bottom: 30px;
}

.add-product .product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 13.3em;
  margin-right: 20px;
  margin-bottom: 30px;
}

.add-product .product-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15.3em;
  margin-right: 20px;
  margin-bottom: 30px;
}

.add-product .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 60px;
}

.add-product .btn .btn-submit {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #E7E6E6;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.add-product .btn .btn-submit:hover {
  background-color: #2E5D62;
  color: white;
}
/*# sourceMappingURL=addproduct.css.map */